body {font-family:serif;}
.import {padding-bottom:10px;}
.import input[type=text] {width:630px;}

.valid {background-color:limegreen;}
.invalid {background-color:red;}
.imported_square {background-color:lightblue;}

.sudoku {border:5px solid darkblue; border-collapse: collapse;}
.sudoku tr {padding:0;}
.sudoku td {padding:0; border:1px solid black; width:1em;}
.sudoku input {width:1em; border:0; font-size:25pt; text-align:center;}
.sudoku .thick_right {border-right:5px solid red!important;}
.sudoku .thick_bottom {border-bottom:5px solid red;}
